.calculator{
  width: 300px;
  padding: 1em;
  margin: auto;
  background-color: hsl(0, 0%, 0%);
  border-radius: 1em;
}

.box{
  padding: 15% 5%;
  text-align: right;
}

.result{
  color: #fff;
  font-size: 2.8rem;
  overflow-wrap: break-word;
}

.keyboard{
  display: flex;
}

.left-area{
  width: 75%;
}

.operators{
  width: 25%;
}